<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.twistedappdeveloper.opcclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SessionActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".SelectSessionActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ListSubscriptionActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".SubscriptionActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".MonitoredItemActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".BrowseActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".ReadActivity" />
        <activity android:name=".MonitoringActivity" />
    </application>

</manifest>